.mini_blocks {
	display: block;
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 5px;
	background: #e6e6e6;
	margin-right: 30px;
	margin-bottom: 30px;
}

.categories_block {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	height: 285px;
	overflow: hidden;
}

.categories_scroll {
	display: block;
	float: left;
	width: 100%;
	min-width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
}

.categories_mini {
	background: #e6e6e6;
	display: inline-block;
	width: 212px;
	height: 280px;
	border-radius: 5px;
	position: relative;
	margin-right: 20px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
	overflow: hidden;
	cursor: pointer;
}

.categories_mini:hover .catImage{
	-webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.catBottom {
	display: block;
	float: left;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.catImage {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	-moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.catTitle {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.catSub_btn {
	display: block;
	float: left;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border-radius: 5px;
	background: #EA221D;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 10px;
	font-weight: 700;
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	-moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    cursor: pointer;
}

.catSub_btn:hover {
	background: #aa1410;
}

.catSub_btn_active {
	background: #303030 !important;
	color: #aaa !important;
}

.afishaSide {
	display: block;
	float: left;
	width: 200px;
	height: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
}

.afishaMain {
	display: block;
	float: left;
	margin-left: 50px;
	width: calc(100% - 250px);
}

.as_side {
	display: block;
	float: left;
	width: calc(100% - 40px);
	color: #151515;
	text-decoration: none;
	font-weight: normal;
	font-size: 17px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	-moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.as_side:hover {
	color: #EA221D;
}

.as_active {
	background: #e6e6e6;
	font-weight: 700;
}

.as_side:active {
	transform: scale(.96);
}

.bookItem__container {
	display: inline-block;
	width: 200px;
	height: auto;
	position: relative;
	margin-right: 43px;
}

.bookItem__block {
	display: inline-block;
	width: 100%;
	height: 310px;
	background: #e6e6e6;
	border-radius: 3px;
}

.bookItem__preview {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}

.bookItem__title {
	display: block;
	float: left;
	width: 100%;
	margin-top: 8px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.booksContent__block {
	display: block;
	float: left;
	width: calc(100% - 60px);
	padding: 30px;
	background: #2196F3;
	border-radius: 10px;
}

.booksContent__block .dirSubtitle {
	color: #fff;
}

.booksContent__block .dirSubContent {
	color: #fff;
}

.booksContent__scroll {
	display: block;
	float: left;
	width: 100%;
	min-width: 100%;
	overflow: hidden;
    white-space: nowrap;

}

.booksContent__relative {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
    white-space: nowrap;
    height: 360px;
    max-height: 360px;
}