.menu_item {
  display: inline-block;
  text-decoration: none;
  color: #151515;
  font-size: 17px;
  padding: 20px;
  font-weight: 700;
  transition: .2s ease all;
  --moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}

.menu_item:hover {
  color: #EA221D;
}


.menu_icons {
  display: block;
  float: right;
  font-size: 28px;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
  transition: .2s ease all;
  --moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
  text-decoration: none;
  color: #151515;
}

.menu_icons:hover {
  color: #EA221D;
}

.menu_block {
  display: block;
  float: left;
  text-align: center;
  width: 550px;
  margin: 0 auto;
}

.logo {
  display: none;
  float: left;
  width: 82px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.logoTitle {
  display: block;
  float: left;
  color: #EA221D;
  font-size: 25px;
  font-weight: 700;
  margin-top: 12px;
  text-decoration: none;
}

.logo_block {
  display: block;
  float: left;
  width: 225px;
}

.center_header {
  display: block;
  float: none;
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: block;
  float: left;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: rgba(0, 56, 110, .08) 0 10px 30px;
}

.account_block {
  display: block;
  float: left;
  width: 225px;
  height: 20px;
}

.avatarHeader {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 14px;
  margin-left: 20px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}