.footer {
	display: block;
	float: left;
	width: 100%;
	background: #151515;
	margin-top: 50px;
	padding-bottom: 50px;
}

.center_footer {
	display: block;
	float: none;
	width: 1000px;
	margin: 0 auto;
}

.cf_title_block {
	display: block;
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #333;
	color: #fff;
}

.cf_title {
	display: block;
	float: left;
 	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-align: left;	
	width: 100%;
}

.cft_center {
	display: block;
	float: none;
	width: 1000px;
	margin: 0 auto;
}

.cf_adress {
	display: block;
	float: left;
	width: 100%;
	font-size: 16px;
	color: #fff;
	text-align: left;
	margin-top: 10px;
}

.ctf_info_block {
	display: block;
	float: left;
	width: 600px;
}

.ctf_apps_block {
	display: block;
	float: left;
	width: 400px;
	position: relative;
}

.ctf_app {
	display: block;
	float: right;
	margin-left: 30px;
}

.cf_mini_column {
	display: block;
	float: left;
	width: 20%;
	position: relative;
}

.cfm_title {
	display: block;
	float: left;
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	margin-bottom: 20px;
}

.cfm_item {
	display: block;
	float: left;
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
}

.social_networks_block {
	display: block;
	float: left;
	width: 100%;
	text-align: left;
	position: relative;
	margin-top: 70px;
}
.snb_icon {
	display: inline-block;
	margin-right: 10px;
}