#myDiv {
	display: block;
	float: left;
	width: 100%;
	position: relative;
}

.newsCard {
	display: block;
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 5%;
	cursor: pointer;
	color: #151515;
}

.newsCard:nth-child(3n+3) {
	margin-right: 0%;
}

.cardImage {
	display: block;
	float: left;
	width: 100%;
	object-fit: cover;
	max-height: 240px;
	height: 240px;
	border-radius: 5px;
}

.cardTitle {
	display: block;
	float: left;
	width: 100%;
	margin-top: 10px;
	text-overflow: ellipsis;
}

